//manifest.defaultBranch = "main"

//parameter definitions

params.singleSample = false
params.addBEDFilesProfile = false
params.addBEDFilesRefPoint = false
params.catLanes = false
params.workDir = "$baseDir/catFq"
params.name = 'CnRFlow'
params.outdir = "$baseDir/results"
params.genomeAssets = "/athena/josefowiczlab/scratch/szj2001/JLab-Flow_Genomes"
params.executorConfig = "conf/wcm.config"
params.PCATitle = "Bin-based PCA for all samples"


params {

  genomes {
    'human'  {
       bt2Index = "${params.genomeAssets}/hg38/hg38"
	   blacklist = "$params.genomeAssets/hg38/hg38.blacklistReduced.bed"
	   genesList = "$params.genomeAssets/hg38/hg38_RefSeqSelect.bed"
    }

    'mouse'  {
	   bt2Index = "$params.genomeAssets/mm10/mm10-bwt"
	   blacklist = "$params.genomeAssets/mm10/mm10.blacklist.merged.bed"
	   genesList = "$params.genomeAssets/mm10/mm10_ensembleGenes.bed"
    }
  }
}
/*
params {

  genomes {
    'human'  {
       bt2Index = "/home/balemj/GenomeRefs/hg38/hg38"
	   blacklist = "/home/balemj/GenomeRefs/hg38/hg38.blacklistReduced.bed"
	   genesList = "/home/balemj/GenomeRefs/hg38/hg38_RefSeqSelect.bed"
    }

    'mouse'  {
	   bt2Index = "/home/balemj/GenomeRefs/mm10/mm10-bwt"
	   blacklist = "/home/balemj/GenomeRefs/mm10/mm10.blacklist.merged.bed"
	   genesList = "/home/balemj/GenomeRefs/mm10/mm10_ensembleGenes.bed"
    }
  }
}
*/
//Executor control

process.container = 'michaelbale/jlab-flow'
includeConfig params.executorConfig

profiles {
  conda {
    docker.enabled = false
    singularity.enabled = false
    process.conda = "$projectDir/environment.yml"
    createTimeout = '2 h'
  }
  debug { process.beforeScript = 'echo $HOSTNAME' }
  docker {
    docker.enabled = true
    singularity.enabled = false
    docker.userEmulation = true
  }
  singularity {
    docker.enabled = false
    singularity.enabled = true
    singularity.autoMounts = true
	envWhitelist = 'SINGULARITY_BINDPATH'
  }
}

