

//parameter definitions

params {

  genomes {
    'human'  {
       bt2Index = "/home/balemj/GenomeRefs/hg38/hg38"
	   blacklist = "/home/balemj/GenomeRefs/hg38/hg38.blacklistReduced.bed"
	   genesList = "/home/balemj/GenomeRefs/hg38/hg38_RefSeqSelect.bed"
    }

    'mouse'  {
	   bt2Index = "/home/balemj/GenomeRefs/mm10/mm10-bwt"
	   blacklist = "/home/balemj/GenomeRefs/mm10/mm10.blacklist.merged.bed"
	   genesList = "/home/balemj/GenomeRefs/mm10/mm10_ensembleGenes.bed"
    }
  }
}

params.singleSample = false
params.PCATitle = "Bin-based PCA for all samples"
params.addBEDFilesProfile = false
params.addBEDFilesRefPoint = false
params.catLanes = false
params.workDir = "$baseDir/catFq"
params.name = 'CnRFlow'
params.outdir = "$baseDir/results"
/*
workflow.onComplete {
	println("Wahoo")
	
	sendMail(
		to: ${params.recipient},
		subject: 'pipeline execution: ${name}'
		'''
		Pipeline execution summary
		---------------------------
		Completed at: ${workflow.complete}
		Duration    : ${workflow.duration}
		Success     : ${workflow.success}
		workDir     : ${workflow.workDir}
		exit status : ${workflow.exitStatus}
		Error report: ${workflow.errorReport ?: '-'}
		'''
		
		
	)
}
*/

/*
//Executor control
process {
  executor = 'slurm'
  queue = 'panda_physbio'
  scratch = true
  scratch = '/scratchLocal/`whoami`_${SLURM_JOBID}'
  
  withLabel: med_mem {
	time = 8.h
	cpus = 6
	memory = 12.GB
  }
  
  withLabel: big_mem {
	time = 18.h
	cpus = 8
	memory = 32.GB
	clusterOptions = '--mem-per-cpu=4G --export=ALL'
  }
  
  withLabel: small_mem {
    time = 8.h
	cpus = 1
	memory = 12.GB
    
  }
}

executor {
  queueSize = 10
}




singularity {
  enabled = true
  envWhitelist='SINGULARITY_BINDPATH'
  cacheDir =  "/athena/elementolab/scratch/reference/.singularity/singularity_images_nextflow"
  autoMounts = true
}
*/