process {
  executor = 'slurm'
  
  withLabel: med_mem {
	queue = 'short'
	time = 8.h
	cpus = 6
	memory = 12.GB
  }
  
  withLabel: big_mem {
	queue = 'medium'
	time = 18.h
	cpus = 8
	memory = 32.GB
	clusterOptions = '--mem-per-cpu=4G --export=ALL'
  }
  
  withLabel: small_mem {
    queue = 'short'
	time = 8.h
	cpus = 1
	memory = 12.GB
    
  }
}

executor {
  queueSize = 10
}

conda.cacheDir = '/home/jl872/.conda/envs'  

