process {
  executor = 'slurm'
  
  withLabel: med_mem {
	queue = 'short'
	time = 8.h
	cpus = 6
	memory = 12.GB
  }
  
  withLabel: big_mem {
	queue = 'medium'
	time = 18.h
	cpus = 8
	memory = 32.GB
  }
  
  withLabel: small_mem {
    queue = 'short'
	time = 8.h
	cpus = 1
	memory = 12.GB
    
  }
  
  withLabel: massive_mem {
    queue = 'medium'
    time = 18.h
    cpus = 16
    memory = 100.GB
  }
  
  withLabel: largeStore {
    queue = 'medium'
    time = 18.h
    cpus = 1
    memory = 100.GB
  }
}

  

executor {
  queueSize = 15
}

conda.cacheDir = '/home/jl872/.conda/envs'  

