process {
  executor = 'slurm'
  queue = 'panda'
  
  withLabel: med_mem {
	time = 8.h
	cpus = 6
	memory = 12.GB
  }
  
  withLabel: big_mem {
	time = 18.h
	cpus = 8
	memory = 32.GB
	clusterOptions = '--mem-per-cpu=4G --export=ALL'
  }
  
  withLabel: small_mem {
    time = 8.h
	cpus = 1
	memory = 12.GB
    
  }
  
  withLabel: massive_mem {
    time = 18.h
    cpus = 16
    memory = 100.GB
  }
  
  withLabel: largeStore {
    time = 18.h
	cpus = 1
	memory = 100.GB
  }
}

executor {
  queueSize = 20 
}

conda.cacheDir = '/athena/josefowiczlab/scratch/mib4004/.nfEnvs/conda'
