process {
  executor = 'slurm'
  queue = 'panda_physbio'
  scratch = true
  scratch = '/scratchLocal/`whoami`_${SLURM_JOBID}'
  
  withLabel: med_mem {
	time = 8.h
	cpus = 6
	memory = 12.GB
  }
  
  withLabel: big_mem {
	time = 18.h
	cpus = 8
	memory = 32.GB
	clusterOptions = '--mem-per-cpu=4G --export=ALL'
  }
  
  withLabel: small_mem {
    time = 8.h
	cpus = 1
	memory = 12.GB
    
  }
}

executor {
  queueSize = 10
}
